.accountInfo {
    display:flex;
    background-color: #FFD8B4;
    margin-top: 20px;
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 14px;
    justify-content:space-between;
    gap: 60px;
    padding-right: 40px;
}
.background{
    margin-left: 40px;
    margin-right: 40px;
}
.heading{
    margin-left: 40px;
}

.restaurant{
    display:flex;
    gap: 200px;
}